.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  /* font-size: 23px !important;
  line-height: 24px !important; */
}
.w-md-editor {
  min-height: 80vh;
}

.w-md-editor-content code.chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
